$font: 'Work Sans', sans-serif;

/**
** Font
*/
$semibold: 600;
$medium: 500;
$regular: 400;


/**
** Color
*/
$text-dark: #4e5e73;
$blue-base: #0F7EC1;
$white: #ffffff;
$text-alpha: rgba(85, 85, 85, 0.3);
$blue-light: rgba(15, 126, 193, 0.2);

$magenta-base: #DF1682;
$magenta-dark: #CC0099;

$red: #FF4E4E;
$light-red: #FF4E4E80;

$green: #49C5B6;
$light-green: #49C5B680;

$yellow: #FFE56C;
$light-yellow: #FFE56C80;

$gray-light: #F0F0F2;
$gray-dark: #DBDBE3;

$secondary: #E7EBEF;
$light-secondary: #E7EBEF80;


/**
** Border radius
**/
$radius-light: 1rem;
$radius-medium: 2rem;