@import "~modern-normalize/modern-normalize.css";
@import "common";
@import "font";
@import "typography";
@import "component/messages";
@import "component/tooltip";
@import "component/input";

body{
  background: $gray-light;
}

.container{
  padding: 2rem;
  margin: auto
}