*{
  font-family: $font;
}

html{
  font-size: 62.5%;
}

h1{
  font-size: 6.4rem;
  font-weight: $semibold;
  line-height: 6.4rem;
  letter-spacing: 0.02rem;
  color: $text-dark;
}

h2{
  font-size: 4.4rem;
  font-weight: $semibold;
  line-height: 5.4rem;
  letter-spacing: 0rem;
  color: $text-dark;
}

h3{
  font-size: 3.2rem;
  font-weight: $semibold;
  line-height: 4rem;
  letter-spacing: 0.01rem;
  color: $text-dark;
}

h4{
  font-size: 2.6rem;
  font-weight: $medium;
  line-height: 3.2rem;
  letter-spacing: 0.02rem;
  color: $text-dark;
}

h5{
  font-size: 2rem;
  font-weight: $semibold;
  line-height: 2.6rem;
  letter-spacing: 0.02rem;
  color: $text-dark;
}

h6{
  font-size: 1.8rem;
  font-weight: $medium;
  line-height: 2.4rem;
  letter-spacing: 0.02rem;
  color: $text-dark;
}

p{
  font-size: 1.4rem;
  font-weight: $regular;
  line-height: 2.2rem;
  letter-spacing: 0.01rem;
  margin: 0;
  color: $text-dark;
}