.input{
  background: $gray-light;
  border-radius: $radius-light;
  color: $text-alpha;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.01rem;
  font-weight: $regular;
  padding: 1.8rem 2rem;
  border: none;
  margin-bottom: 2.5rem;
  outline: none;
  width: 100%;

  &.default{

  }

  &.is-focus{
    background: $blue-light;
    color: $blue-base;
  }

  &.is-compiled{
    color: $blue-base;
  }

  &.is-disable{
    background: $gray-light;
    color: $text-dark;
  }

  &.is-error{
    color: $red;
  }

  &:last-child{
    margin-bottom: 0rem;
  }
}