.messages{
  background: $white;
  border-radius: $radius-medium;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-bottom: 2.5rem;
  position: relative;
  overflow: hidden;

  &__line{
    position: absolute;
    left: 0;
    top: 0;
    width: 2.2rem;
    height: 100%;

    &--content{
      position: absolute;
      width: 80%;
      background: $white;
      height: 100%;
      right: 0;
      top: 0;
      border-radius: $radius-medium 0 0 $radius-medium;
    }
  }

  &__icon{
    display: flex;
    justify-content: center;
    align-items: center;

    &--circle{
      position: absolute;
      width: 2.7rem;
      height: 2.7rem;
      border-radius: 50%;

      &:last-child{
        width: 1.1rem;
        height: 1.1rem;
      }
    }
  }

  &__text{

  }

  &:last-child{
    margin-bottom: 0;
  }

  &.is-warning{

    .messages{

      &__line{
        background: $yellow;
      }

      &__icon{

        &--circle{
          background: $light-yellow;

          &:last-child{
            background: $yellow;
          }
        }
      }
    }
  }

  &.is-danger{

    .messages{

      &__line{
        background: $red;
      }

      &__icon{

        &--circle{
          background: $light-red;

          &:last-child{
            background: $red;
          }
        }
      }
    }
  }

  &.is-success{

    .messages{

      &__line{
        background: $green;
      }

      &__icon{

        &--circle{
          background: $light-green;

          &:last-child{
            background: $green;
          }
        }
      }
    }
  }

  &.is-secondary{

    .messages{

      &__line{
        background: $light-secondary;
      }

      &__icon{

        &--circle{
          background: $light-secondary;

          &:last-child{
            background: $secondary;
          }
        }
      }
    }
  }
}