.tooltip{
  display: flex;
  justify-content: flex-end;
  position: relative;

  &__content{
    display: none;
    z-index: 1;

    &__text{

      &--title{
        font-weight: bold;
        display: block;
      }
    }
  }

  &__icon{
    justify-self: flex-end;
    z-index: 2;
  }


  &.is-open{

    .tooltip{

      &__content{
        display: block;
        background: $white;
        position: absolute;
        bottom: 2.7rem;
        left: 0;
        width: calc(100% - 2.7rem);
        padding: 4rem;
        border-radius: $radius-light;
      }
    }
  }
}